# APP ENVIRONMENT [local/dev/prod]
APP_ENV=

# DATABASE
DB_URL=

# REDIS
REDIS_HOST=
REDIS_PORT=

# GOOGLE AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# GITHUB
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

# JWT
JWT_SECRET_KEY=

# LOGGING: DEBUG, INFO, WARNING, ERROR
LOG_LEVEL=INFO
